//main theme
$mainColorText: #fff;
$titleColorText: #eff1f4;
$mainColorBg: #6b6b78;
$lighterMainColorBg: #a9a9af;
$linkColor: #cce3fc;

//light theme
$darkColorText: #695d5d;
$lightColorBg: #fff;
$darkerColorBg: #e7e9ed;
$darkLinkColor: #009fef;

//Height
$animationHeight: 301px;
$containerHeight: 390px;
$step4Height: 700px;
//Width
$step2ImageWidth: 580px;
$step3ImageWidth: 245px;
//Offset
$step4Offset: 60px;