.step-5 {
  text-align: center;
  margin-left: -$step4Offset;

  &__wrapper {
    height: 100%;
    padding-top: 24px;
  }

  &__col {
    width: 36%;
    display: inline-block;
    vertical-align: middle;

    img {
      padding: 8px 14px;
      opacity: 0;
    }

    &:first-child {
      text-align: right;
    }
    &:last-child {
      text-align: left;
    }
  }
  &__col-s {
    width: 26%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
  }
}